
@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
        .navbar-nav {
            li {
                a {
                    margin: 0 0px;
                    padding: 6px 0;
                    color: rgba(0, 0, 0, 0.55) !important;
                    &:before {
                        content: '';
                        display: none;
                    }
                }
            }
        }
    }
    .custom-nav {
        .navbar-nav {
            li{
                &.active {
                    a {
                        color: #000 !important;
                    }
                }
            }
        }
    }
    .custom-nav {
        >.container {
            width: 90%;
        }
    }
    .custom-nav  {
        .logo  {
            .logo-dark {
                display: inline-block;
            }
            .logo-light {
                display: none;
            }
        }
    }
    .custom-nav {
        .navbar-brand.logo {
            img {
                height: 26px;
            }
        }
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 29px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }
    .header_title {
        font-size: 40px;
        line-height: 1.2;
    }
    .header_subtitle {
        font-size: 15px;
        line-height: 1.8;
    }
    .home-bg,
    .h-100vh.jarallax,
    .h-100vh.bg-dark,
    .home-bg-slider .carousel-item {
        padding: 170px 0 110px 0;
    }
    .h-100vh,
    .home-bg-slider .carousel-item {
        height: auto;
    }
    .scroll_down {
        display: none;
    }
    .clip-home {
        clip-path: none;
    }
    .custom-nav {
        .navbar-brand.logo {
            img {
                height: 26px;
            }
        }
    }
    .about-detail .about-work li::after,
    .work_menu li:after {
        display: none;
        content: "";
    }
    .about-detail {
        .about-work {
            li {
                margin-right: 7px;
                margin-left: 7px;
            }
        }
    }
    .copy-rights {
        line-height: 26px;
    }
    .float_none.float-right,
    .float_none.float-left {
        float: none !important;
        text-align: center;
    }
    .work_menu {
        li {
            a {
                margin: 8px 10px;
            }
        }
    }
    .comment_blog {
        .comment_read {
            &:nth-child(odd) {
                margin-left: 34px;
            }
        }
    }
    .blog_detail {
        h4 {
            font-size: 18px;
        }
    }
    .blog_detail {
        p.blockquote {
            font-size: 14px !important;
        }
    }
}

@media (max-width: 576px) {
    .section {
        padding: 50px 0;
    }
    .home-bg {
        padding: 70px 0;
    }
}